:host{
  display: block;
}
.text {
  width: auto;
  background-color: honeydew;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.drugguble {
  height: 6rem;
  overflow: hidden;
  padding: 0;
}
