<main class="main">
  <h1>Hello, {{ title }}</h1>
  <label class="drugable">
    Is druggable?
    <input type="checkbox" [checked]="isDruggable" (change)="toggle()">

  </label>
  <div [ngClass]="{'content':true, drugguble: isDruggable }" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (element of elements; track element.text) {

    @switch (element.type) {
    @case ('product') {
    <app-product [product]="element" [drugguble]="isDruggable" cdkDragBoundary=".content" cdkDrag />
    <div *cdkDragPlaceholder>lalal</div>
    }
    @case ('text') {
    <app-text [text]="element" [drugguble]="isDruggable" cdkDragBoundary=".content" cdkDrag/>
    }
    @case ('image') {
    <app-image [image]="element" [drugguble]="isDruggable" cdkDragBoundary=".content" cdkDrag/>
    }
    @default {
    НЕ ЗНАЮ ТАКОЙ ТИП
    }
    }
    }
  </div>
</main>
<router-outlet/>
